/* Adjust the table so it fits the page's height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
body {
  font-size: 1.1em;
  font-family: 'Arial', sans-serif;
  color: #0c0303;
  background-color: rgb(90, 165, 165);
  text-align: center;
}

.container {
  width: 70%;
  margin: 0;
  padding: 0;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  table {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  th, td {
    font-size: 10px;
    padding: 5px;
  }
  .radio {
    display: none;
  }
  button[type="submit"] {
    display: none;
  }
  button[type="upload-button"] {
    display: none;
  }
  #dropZone {
    display: none;
  }
  h1 {
    display: none;
  }
}
.radioContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 450px;
}
label {
  cursor: pointer;
}
form {
  text-align: center;
}

input[type="file"]#excelFile {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

#dropZone {
  /* border: 2px dashed #ffc9c9; */
  padding: 2em;
  margin-left:15em;
  margin-right:15em;
  margin: 2em 15em;
  text-align: center;
  background-color: #f6f7fe;
  color: #555;
  font-size: 1.2em;
  border-radius: 30px;
}

#dropZone:hover {
  border-color: #ffc9c9;
  background-color: #eceffd;
  cursor: pointer;
}

#dropZone p {
  margin-top: 1em;
  margin-bottom: 1em;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="upload-button"] {
  background-color: lightblue;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="upload-button"]:hover {
  background-color: rgb(42, 118, 143);
}

.tables-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
   /* Adds a reasonable margin between the tables */
  gap: 50px;
}
table {
  /* width: 40%; */
  width: 500px;
  border-collapse: collapse;

  /* Adjusts the table to fit its content */
}
th, td {
  border: 1px solid #000;
  text-align: left;
  padding: 6px;
  font-size: 18px;
  font-weight: 600;
}
th {
  background-color: #f2f2f2;
}
.srs {
  border: none;
  border-left: 1px solid #000;
}
.thickLine {
  border: 4px solid #000;
  /* Fill the row*/
  background-color: #a0a0a0;
}



#errorField  {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 1em;
  color: red;
}

#output {
  color: rgb(40, 1, 1);
  text-align: center;
  color: #000000;
}
.headText {

  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  border: 1px solid rgb(150, 134, 134);
  margin: 0px 30em 10px 30em;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
  background-color: #fff9f9;
}
@media screen and (min-width: 1200px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    width: 30%;
    margin: 0 1em 1em 0;
  }
}
@media screen and (min-width: 1200px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    width: 30%;
    margin: 0px 20em 10px 20em;

  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    width: 45%;
    margin: 0px 10em 10px 10em;

  }
}

@media screen and (max-width: 767px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    width: 90%;
    margin: 0 0 1em 0;
  }
}

/* table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
} */
